@{
    ViewBag.Title = "Resultados en Programa de Trabajo";
    ViewBag.pTitle = "RESULTADOS EN PROGRAMA DE TRABAJO";
    ViewBag.pageTitle = "Auditorías";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var valor = "alto";
    var id = @ViewBag.AU_TXT_INFOR_PRELIM == null ? 0 : @ViewBag.AU_TXT_INFOR_PRELIM.CODIGO_TXT_INF_PREL;
}

<link href="~/css/estilo.css" rel="stylesheet" type="text/css" />
<link href="~/css/estiloAuditoriaResultadoInforme.css" rel="stylesheet" type="text/css" />
<link href="~/lib/summernote/summernote-lite.min.css" rel="stylesheet">

<div class="container">
    <div class="form-container">
        <h3>
            INFORME PRELIMINAR AGE101-1-2024 AUDITORÍA INTEGRAL AGENCIA SAN MARCOS
        </h3>

        <div class="row">
            <h5 style="width: 70%">
                Borrador de los resultados de la auditoría
            </h5>
            <div class="status eraser" id="divStatus">
                Borrador
            </div>

            <h5>
                IP-AGE101-1-2024
            </h5>

            <h5>
                Fecha de emisión: 25/05/2024
            </h5>

            <h5>
                Fecha de recibido: 25/05/2024
            </h5>
        </div>

        <div class="form-group" style="padding-top: 10px" id="divButtons">
            <button type="button" onclick="history.go(-1)" class="btn btn-primary">Regresar</button>
            <button type="button" onclick="EnviarInforme()" class="btn btn-secondary btn-purple">Enviar Informe</button>
            <button type="button" onclick="HabilitarSeguimiento()" class="btn btn-secondary btn-purple">Habilitar Seguimiento</button>
            <button type="button" onclick="ConfirmarComentarios()" class="btn btn-secondary btn-green">Confirmar Comentarios</button>
            <a href="~/print/Index?doc=resultadoInforme" target="_blank" class="btn btn-secondary btn-purple" style="width: 100px !important; cursor:pointer;">
                <i class="fas fa-print" style="margin-right: 5px"></i>Imprimir
             </a> 
            @* <button type="button" href="~/print/Index?doc=ResultadoInforme&id=1" target="_blank" class="btn btn-secondary btn-purple">Imprimir</button> *@
        </div>
    </div>

    <div class="form-container" style="padding: 40px">
        <div class="image-container" style="text-align: center;">
            <img src="~/assets/images/logoHDH-vertical1.jpg" alt="Logo">
            <div class="text-overlay">
                AGE101-1-2024
            </div>
        </div>

        <h4 style="text-align: center; margin-top: 40px">
            INFORME PRELIMINAR AUDITORÍA INTEGRAL AGENCIA SAN MARCOS
        </h4>

        <div style="font-size: 14px; margin-top: 30px" class="row">
            <a style="font-weight: bold;">
                ELVIN NOEL ORELLANA
            </a>

            <a>
                Jefe de Agencia<br /><br />
                CC.<br />
                Coordinador de Zona I<br /><br />
                Fundación Microfinanciera Hermandad de Honduras, OPDF<br />
                San Marcos, Ocotepeque, 30 de junio 2024<br /><br />
            </a>

            <div class="button-container" style="margin-bottom: 10px">
                <a style="font-weight: bold;">
                    MOTIVO DEL INFORME
                </a>
                <button type="button" onclick="ModificarTexto(@id, 'motivoContent')" class="btn btn-primary">Modificar Motivo</button>
            </div>

            @{
                var motivo = "";
                if (ViewBag.AU_TXT_INFOR_PRELIM != null && ViewBag.AU_TXT_INFOR_PRELIM.MOTIVO_INFORME != null)
                {
                    motivo = ViewBag.AU_TXT_INFOR_PRELIM.MOTIVO_INFORME;
                }
                else
                {
                    motivo = "<p>Como Auditores Internos de la Fundación Microfinanciera Hermandad de Honduras y dando cumplimiento al Plan Anual de Trabajo de Auditoría Interna para el año 2024, nos permitimos presentar el informe correspondiente a la Auditoría Agencia Santa Barbara.</p>";
                }

                <div id="motivoContent" style="white-space: pre-line;">@Html.Raw(motivo)</div>
            }

            <h4 class="title-green" style="width: 85%; padding-top: 20px;">
                I. INTRODUCCIÓN
            </h4>

            <div class="button-container" style="margin-bottom: 10px">
                <a style="font-weight: bold;">
                    1. Objetivo
                </a>
                <button type="button" onclick="ModificarTexto(@id, 'objetivoContent')" class="btn btn-primary">Modificar Objetivo</button>
            </div>

            @{
                var objetivo = "";
                if (ViewBag.AU_TXT_INFOR_PRELIM != null && ViewBag.AU_TXT_INFOR_PRELIM.OBJETIVO != null)
                {
                    objetivo = ViewBag.AU_TXT_INFOR_PRELIM.OBJETIVO;
                }
                else
                {
                    objetivo = "<p>Emitir una opinión independiente sobre el cumplimiento razonable en la Agencia respecto a las disposiciones contenidas en las normativas emitidas por el ente regulador y los manuales y procesos establecidos dentro de la Institución relacionada al control y calidad de las operaciones.</p>";
                }

                <div id="objetivoContent" style="white-space: pre-line;">@Html.Raw(objetivo)</div>
            }

            <div class="button-container" style="margin-bottom: 10px">
                <a style="font-weight: bold;">
                    2. Alcance
                </a>
                <button type="button" onclick="ModificarTexto(@id, 'alcanceContent')" class="btn btn-primary">Modificar Alcance</button>
            </div>

            @{
                var alcance = "";
                if (ViewBag.AU_TXT_INFOR_PRELIM != null && ViewBag.AU_TXT_INFOR_PRELIM.ALCANCE != null)
                {
                    alcance = ViewBag.AU_TXT_INFOR_PRELIM.ALCANCE;
                }
                else
                {
                    alcance = "<p>Nuestra revisión se realizó de conformidad con los manuales y políticas de la Fundación Micro Financiera HDH-OPDF haciendo su aplicación en todas las áreas de la Agencia que se encuentran en ejecución.</p><p><br></p><p>La Gerencia General es responsable de mantener los sistemas de control interno efectivos, la responsabilidad del Área de Auditoría Interna se limita a la revisión de los registros contenidos en los sistemas de la Fundación respecto a las operaciones efectuadas en su Oficina y la documentación de respaldo proporcionada por el personal y a la exposición de los resultados alcanzados basados en la revisión de dicha información.</p><p><br></p><p>De acuerdo a lo anterior, nuestro trabajo fue desarrollado basados en análisis sobre una muestra de las transacciones de 4 meses, por lo cual pueden existir desviaciones en el proceso auditado que no fueron identificadas por las técnicas de auditoría aplicadas en base a la NIA 530 Muestreo de Auditoría, esta norma permite al Auditor utilizar un enfoque de muestreo no estadístico, basado en las características del universo que se somete a prueba.</p><p><br></p><p>En tal sentido el alcance de la revisión corresponde al periodo comprendido entre el 01 de enero 2024 al 30 de abril del 2024, donde se verificó el cumplimiento con los manuales y políticas de la institución</p>";
                }

                <div id="alcanceContent" style="white-space: pre-line;">@Html.Raw(alcance)</div>
            }

            <a style="font-weight: bold;">
                3. Resultados Generales
            </a>

            <div style="white-space: pre-line; margin:0 24px; width:95%">
                Como resultado de nuestra Auditoría a continuación detallamos, en resumen, los Hallazgos identificadas: Bajo, Medio, Alto.

            </div>

            <table class="table" style="margin: 0px 30px 20px 30px; width:95%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Hallazgos</th>
                        <th>Prioridad</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (ViewBag.HALLAZGOS == null || ViewBag.HALLAZGOS.Count == 0)
                        {
                            <tr>
                                <td colspan="3">Sin hallazgos encontrados</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var HALLAZGO in ViewBag.HALLAZGOS)
                            {
                                var riesgo = HALLAZGO.NIVEL_RIESGO == 1 ? "BAJO" : HALLAZGO.NIVEL_RIESGO == 2 ? "MEDIO" : "ALTO";
                                <tr>
                                    <td>@HALLAZGO.CODIGO_HALLAZGO</td>
                                    <td style="text-align:left">@HALLAZGO.HALLAZGO</td>
                                    <td class="highlight-@riesgo.ToLower()">@riesgo</td>
                                </tr>
                            }
                        }

                    }
                </tbody>
            </table>

            <a style="font-weight: bold;">
                4. Seguimientos a Informes Anteriores
            </a>

            <table class="table" style="margin:20px 30px; width:95%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Hallazgos</th>
                        <th>Prioridad</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (ViewBag.HALLAZGOS_ANTERIORES == null || ViewBag.HALLAZGOS_ANTERIORES.Count == 0)
                        {
                            <tr>
                                <td colspan="3">Sin hallazgos encontrados</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var HALLAZGO_ANTERIOR in ViewBag.HALLAZGOS_ANTERIORES)
                            {
                                var riesgo = HALLAZGO_ANTERIOR.NIVEL_RIESGO == 1 ? "BAJO" : HALLAZGO_ANTERIOR.NIVEL_RIESGO == 2 ? "MEDIO" : "ALTO";
                                <tr>
                                    <td>@HALLAZGO_ANTERIOR.CODIGO_HALLAZGO</td>
                                    <td style="text-align:left">@HALLAZGO_ANTERIOR.HALLAZGO</td>
                                    <td class="highlight-@riesgo.ToLower()">@riesgo</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>

           @*  <div class="button-container">
                <a style="font-weight: bold;">
                    5. Conclusión General
                </a>
                <div>
                    <label for="toggleConclusion">Mostrar Conclusión</label>
                     <label class="switch" style="margin-right: 20px">
                        <input type="checkbox" id="toggleConclusion" onclick="toggleConclusion(@id)" @(ViewBag.AU_TXT_INFOR_PRELIM != null && ViewBag.AU_TXT_INFOR_PRELIM.MOSTRAR_CONCLUSION_GENERAL != null && ViewBag.AU_TXT_INFOR_PRELIM.MOSTRAR_CONCLUSION_GENERAL == 1 ? "checked" : "") />
                        <span class="slider"></span>
                    </label>
                    <button type="button" onclick="ModificarTexto(@id, 'conclusionContent')" class="btn btn-primary">Modificar Conclusión</button>
                </div>
            </div>

            @{
                var conclusion = "";
                if (ViewBag.AU_TXT_INFOR_PRELIM != null && ViewBag.AU_TXT_INFOR_PRELIM.TEXTO_CONCLUSION_GENERAL != null)
                {
                    conclusion = ViewBag.AU_TXT_INFOR_PRELIM.TEXTO_CONCLUSION_GENERAL;
                }
                else
                {
                    conclusion = "<p>Sin Conclusión.</p>";
                }

                <div id="conclusionContent" style="white-space: pre-line; display: @(ViewBag.AU_TXT_INFOR_PRELIM != null && ViewBag.AU_TXT_INFOR_PRELIM.MOSTRAR_CONCLUSION_GENERAL != null && ViewBag.AU_TXT_INFOR_PRELIM.MOSTRAR_CONCLUSION_GENERAL == 1 ? "block" : "none");">@Html.Raw(conclusion)</div>
            } *@

            <div class="button-container">
                <h4 class="title-green" style="width: 85%; padding-top: 20px;">
                    II. PROCEDIMIENTOS DE LA AUDITORÍA
                </h4>
                <button type="button" onclick="ModificarTexto(@id, 'procedimientoAuditoriaContent')" class="btn btn-primary">Modificar PDA</button>
            </div>

            @{
                var procedimientoAuditoria = "";
                if (ViewBag.AU_TXT_INFOR_PRELIM != null && ViewBag.AU_TXT_INFOR_PRELIM.PROCEDIMIENTOS_AUDITORIA != null)
                {
                    procedimientoAuditoria = ViewBag.AU_TXT_INFOR_PRELIM.PROCEDIMIENTOS_AUDITORIA;
                }
                else
                {
                    procedimientoAuditoria = "<div>Los procedimientos y técnicas utilizadas para la realización de este trabajo,</div><div>fueron los siguientes:</div>";
                }

                <div id="procedimientoAuditoriaContent" style="white-space: pre-line;">@Html.Raw(procedimientoAuditoria)</div>
            }

            <h4 class="title-green">
                III. RESULTADOS DE LA AUDITORÍA
            </h4>

            @if (ViewBag.RESULTADOS_AUDITORIAS != null && ViewBag.RESULTADOS_AUDITORIAS.Count > 0)
            {
                foreach (var resultadoAuditoria in ViewBag.RESULTADOS_AUDITORIAS)
                {
                    int conteo = 1;
                    string seccion = "";
                    decimal porcentaje = 0;

                    <table class="tabla-resumen">
                        <tr>
                            <th colspan="2" class="titulo">RESUMEN DE CONTROL - AGENCIA</th>
                        </tr>
                        <tr>
                            <th colspan="2" class="titulo">@resultadoAuditoria.DESCRIPCION.ToUpper()</th>
                        </tr>

                        @foreach (var PORCENTAJE_SUBSECCIONES in resultadoAuditoria.listPorcentajeSubSecciones)
                        {

                            if (seccion == "")
                            {
                                seccion = PORCENTAJE_SUBSECCIONES.Seccion;
                                <tr>
                                    <th class="subtitulo" colspan="1">@(PORCENTAJE_SUBSECCIONES.Seccion)</th>
                                    <th class="subtitulo">PUNTAJE GRADO DE CUMPLIMIENTO</th>
                                </tr>
                            }
                            else if (seccion != PORCENTAJE_SUBSECCIONES.Seccion)
                            {
                                seccion = PORCENTAJE_SUBSECCIONES.Seccion;
                                <tr>
                                    <th class="subtitulo" colspan="1" style="border-right: 0 !important;">@(PORCENTAJE_SUBSECCIONES.Seccion)</th>
                                    <th class="subtitulo" style="border-left: 0 !important;"></th>
                                </tr>
                            }

                            <tr>
                                <td>@conteo. @(PORCENTAJE_SUBSECCIONES.SubSeccion?.ToUpper())</td>
                                <td class="celda-porcentaje-@(PORCENTAJE_SUBSECCIONES.PorcentajeCumplimiento <= 50.90m ? "rojo" : PORCENTAJE_SUBSECCIONES.PorcentajeCumplimiento <= 65.90m ? "anaranjado" : PORCENTAJE_SUBSECCIONES.PorcentajeCumplimiento <= 85.90m ? "amarillo" : "verde")">@(PORCENTAJE_SUBSECCIONES.PorcentajeCumplimiento)%</td>
                            </tr>

                            conteo++;
                            porcentaje += PORCENTAJE_SUBSECCIONES.PorcentajeCumplimiento;
                        }

                        @{
                            double porcentajeTotal = (porcentaje != 0 ? Math.Round((double)porcentaje / (conteo - 1), 2) : 0);
                        }

                        <tr>
                            <td colspan="1" class="puntaje-agencia">Puntaje de la Agencia ...</td>
                            <td class="celda-porcentaje-@(porcentajeTotal <= 50.90 ? "rojo" : porcentajeTotal <= 65.90 ? "anaranjado" : porcentajeTotal <= 85.90 ? "amarillo" : "verde")">
                                @porcentajeTotal%
                            </td>
                        </tr>
                    </table>
                }
            }

            @{
                if (ViewBag.HALLAZGOS == null || ViewBag.HALLAZGOS.Count == 0)
                {
                    <a class="title-black">
                        Sin hallazgos encontrados
                    </a>
                }
                else
                {
                    foreach (var HALLAZGO in ViewBag.HALLAZGOS)
                    {
                        var calif = "";
                        var colorcalif = "";

                        @if (HALLAZGO.CALIFICACION == 2)
                        {
                            if (HALLAZGO.NIVEL_RIESGO == 1)
                            {
                                calif = " - BAJO";
                                colorcalif = "green";
                            }
                            else if (HALLAZGO.NIVEL_RIESGO == 2)
                            {
                                calif = " - MEDIO";
                                colorcalif = "orange";
                            }
                            else if (HALLAZGO.NIVEL_RIESGO == 3)
                            {
                                calif = " - ALTO";
                                colorcalif = "red";
                            }
                        }

                        <a class="title-black">
                            @HALLAZGO.HALLAZGO.ToUpper() <i style="color: @colorcalif">@calif</i>
                        </a>

                        @if (HALLAZGO.CALIFICACION == 1)
                        {
                            <table class="table" style="margin:20px 30px; width:95%">
                                <thead>
                                    <tr>
                                        <th>Valor de Muestra</th>
                                        <th>Muestra con Hallazgos</th>
                                        <th>Desviación de Muestra</th>
                                        <th>Nivel de Riesgo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@HALLAZGO.VALOR_MUESTRA</td>
                                        <td>@HALLAZGO.MUESTRA_INCONSISTENTE</td>
                                        <td>@HALLAZGO.DESVIACION_MUESTRA %</td>
                                        <td class="highlight-@valor">Alto</td>
                                    </tr>
                                </tbody>
                            </table>
                        }

                        <a style="margin:0 24px; width:95%;">
                            @HALLAZGO.CONDICION
                        </a>



                        <div style="margin:0 24px; width:95%; white-space: pre-line;">
                            <span style="font-weight: bold;">Criterio</span>
                            @HALLAZGO.CRITERIO

                            <span style="font-weight: bold;">Efectos</span>
                            @foreach (var CAUSAS in HALLAZGO.Detalles)
                            {
                                if (CAUSAS.TIPO.Contains("efecto"))
                                {
                                    <label>• @CAUSAS.DESCRIPCION</label>
                                }
                            }

                            <span style="font-weight: bold;">Causas</span>
                            @foreach (var CAUSAS in HALLAZGO.Detalles)
                            {
                                if (CAUSAS.TIPO.Contains("causa"))
                                {
                                    <label>• @CAUSAS.DESCRIPCION</label>
                                }
                            }

                            <span style="font-weight: bold;">Proceso Asociado</span>
                            Proceso de Consulta en Central de Riesgo

                            <span style="font-weight: bold;">Acciones Requeridas</span>
                            • It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has.
                            <div @*style="display:none"*@>
                                <span style="font-weight: bold;">Contestación</span>
                                <textarea class="text-area" placeholder="Escribir..."> </textarea>

                                <span style="font-weight: bold;">Documentos</span>
                                <div class="upload-area">
                                    <i class='bx bx-info-circle font-size-24 upload-warning'></i>
                                    <p><span style="color: #186040;">Click para subir documento</span> o arrastre y suelte el archivo aquí</p><p><small>PDF (máx. 4MB)</small></p>
                                </div>
                                <button type="button" onclick="AgregarComentarios()" class="btn btn-secondary btn-purple">Agregar Comentarios</button>
                            </div>
                            <span style="font-weight: bold;">Comentarios del Auditado</span>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has.
                        </div>
                        <br>
                        <br>
                        <hr>
                    }
                }
            }

            @if (ViewBag.SECC_INF_PRELI != null && ViewBag.SECC_INF_PRELI.Count > 1)
            {
                foreach (var secc in ViewBag.SECC_INF_PRELI)
                {
                    if (@secc.TITULO == "IV. CONCLUSIONES")
                    {
                        <div class="button-container" style="margin-bottom: 10px">
                            <h4 class="title-green" style="text-align: center; flex: 1;">
                                @secc.TITULO
                            </h4>
                            <button type="button" onclick="ModificarTextoRI('@secc.TITULO', 'conclusionText')" class="btn btn-primary">Agregar Conclusión</button>
                        </div>

                        <div id="conclusionText" style="margin:0 24px; width:95%; white-space: pre-line;">@Html.Raw(@secc.TEXTO_SECCION)</div>
                    }
                    else if (@secc.TITULO == "V. RECOMENDACIONES DE LA AUDITORÍA")
                    {
                        <div class="button-container" style="margin-bottom: 10px">
                            <h4 class="title-green" style="text-align: center; flex: 1;">
                                @secc.TITULO
                            </h4>
                            <button type="button" onclick="ModificarTextoRI('@secc.TITULO', 'recomendacionText')" class="btn btn-primary">Agregar Recomendacíon</button>
                        </div>

                        <div id="recomendacionText" style="margin:0 24px; width:95%; white-space: pre-line;">@Html.Raw(@secc.TEXTO_SECCION)</div>
                    }
                }
            }
            else if (ViewBag.SECC_INF_PRELI != null && ViewBag.SECC_INF_PRELI.Count == 1)
            {
                foreach (var secc in ViewBag.SECC_INF_PRELI)
                {
                    if (@secc.TITULO == "IV. CONCLUSIONES")
                    {
                        <div class="button-container" style="margin-bottom: 10px">
                            <h4 class="title-green" style="text-align: center; flex: 1;">
                                @secc.TITULO
                            </h4>
                            <button type="button" onclick="ModificarTextoRI('@secc.TITULO', 'conclusionText')" class="btn btn-primary">Agregar Conclusión</button>
                        </div>

                        <div id="conclusionText" style="margin:0 24px; width:95%; white-space: pre-line;">@Html.Raw(@secc.TEXTO_SECCION)</div>


                        <div class="button-container" style="margin-bottom: 10px">
                            <h4 class="title-green" style="text-align: center; flex: 1;">
                                V. RECOMENDACIONES DE LA AUDITORÍA
                            </h4>
                            <button type="button" onclick="ModificarTextoRI('V. RECOMENDACIONES DE LA AUDITORÍA', '')" class="btn btn-primary">Agregar Recomendacíon</button>
                        </div>

                        <div id="recomendacionText" style="margin:0 24px; width:95%; white-space: pre-line;">Agregar Recomendación...</div>
                    }
                    else
                    {
                        <div class="button-container" style="margin-bottom: 10px">
                            <h4 class="title-green" style="text-align: center; flex: 1;">
                                IV. CONCLUSIONES
                            </h4>
                            <button type="button" onclick="ModificarTextoRI('IV. CONCLUSIONES', '')" class="btn btn-primary">Agregar Conclusión</button>
                        </div>

                        <div id="conclusionText" style="margin:0 24px; width:95%; white-space: pre-line;">Agregar conclusión...</div>

                        <div class="button-container" style="margin-bottom: 10px">
                            <h4 class="title-green" style="text-align: center; flex: 1;">
                                @secc.TITULO
                            </h4>
                            <button type="button" onclick="ModificarTextoRI('@secc.TITULO', '@secc.CODIGO_SEC_INF' + '_text')" class="btn btn-primary">Agregar Recomendacíon</button>
                        </div>

                        <div id="'@secc.CODIGO_SEC_INF' + '_text'" style="margin:0 24px; width:95%; white-space: pre-line;">@Html.Raw(@secc.TEXTO_SECCION)</div>
                    }
                }
            }
            else
            {
                <div class="button-container" style="margin-bottom: 10px">
                    <h4 class="title-green" style="text-align: center; flex: 1;">
                        IV. CONCLUSIONES
                    </h4>
                    <button type="button" onclick="ModificarTextoRI('IV. CONCLUSIONES', '')" class="btn btn-primary">Agregar Conclusión</button>
                </div>

                <div id="conclusionText" style="margin:0 24px; width:95%; white-space: pre-line;">
                    Agregar conclusión...
                </div>

                <div class="button-container" style="margin-bottom: 10px">
                    <h4 class="title-green" style="text-align: center; flex: 1;">
                        V. RECOMENDACIONES DE LA AUDITORÍA
                    </h4>
                    <button type="button" onclick="ModificarTextoRI('V. RECOMENDACIONES DE LA AUDITORÍA', '')" class="btn btn-primary">Agregar Recomendacíon</button>
                </div>

                <div id="recomendacionText" style="margin:0 24px; width:95%; white-space: pre-line;">
                    Agregar Recomendación...
                </div>
            }

             <h4 class="title-green">
                VI. COMENTARIOS DEL AUDITADO
            </h4>

            <div id="comentarioText" style="margin:0 24px; width:95%; white-space: pre-line;">
                Agregar Comentario...
            </div>

            @if (ViewBag.SECC_INF_PRELI != null && ViewBag.SECC_INF_PRELI.Count > 1)
            {
                @foreach (var secc in ViewBag.SECC_INF_PRELI)
                {
                    if (secc.TITULO == "IV. CONCLUSIONES" || secc.TITULO == "V. RECOMENDACIONES DE LA AUDITORÍA")
                    {
                        continue;
                    }

                    var titulo = @secc.CODIGO_SEC_INF + "_text";
                    
                    <div class="button-container" style="margin-bottom: 10px">
                        <h4 class="title-green" style="text-align: center; flex: 1;">
                            @secc.TITULO
                        </h4>
                        <button type="button" onclick="ModificarTextoRI('@secc.TITULO', '@titulo')" class="btn btn-primary">Editar Contenido</button>

                        <button type="button" onclick="EliminarSeccion('@secc.CODIGO_SEC_INF')" class="btn btn-danger" style="margin-left: 5px; border-radius: 13px !important;">
                            <i class="fas fa-trash-alt"></i> Eliminar
                        </button>
                    </div>

                    <div id="@titulo" style="margin:0 24px; width:95%; white-space: pre-line;">@Html.Raw(@secc.TEXTO_SECCION)</div>
                }
                <button type="button" onclick="ModificarTextoRI('', '')" class="btn btn-primary" style="margin-top: 20px">AGREGAR NUEVA SECCIÓN</button>
            }
            else
            {
                <button type="button" onclick="ModificarTextoRI('', '')" class="btn btn-primary" style="margin-top: 20px" disabled>AGREGAR NUEVA SECCIÓN</button>
            }

        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/summernote/summernote-lite.min.js"></script>
    <script src="~/Scripts/Helpers/Helpers.js"></script>
    <script src="~/Scripts/Auditorias/AuditoriaResultadosInforme.js"></script>
}
