@{
    var actividadConDetalles = ViewBag.DETALLES_ACTIVIDAD;
    var hallazgos = ViewBag.HALLAZGOS as List<SIA.Models.Mg_Hallazgos>;

    ViewBag.Title = "Resultados en Programa de Trabajo";
    ViewBag.pTitle = "RESULTADOS EN PROGRAMA DE TRABAJO";
    ViewBag.pageTitle = "Auditorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string textNivel = "Bajo";
    string textClassNivel = "bajo";
    string tipocalificacion = "";
}

<link href="~/css/estilo.css" rel="stylesheet" type="text/css" />
<link href="~/css/estiloAuditoriaResultado.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3>
                    @actividadConDetalles.Nombre_actividad.ToUpper()
                </h3>

                <div class="row">
                    <h5>@ViewBag.TITULO_AUDITORIA</h5>
                </div>

                <div class="form-group" style="padding-top: 10px" id="divButtons">
                    <button type="button" onclick="history.go(-1)" class="btn btn-primary">Regresar</button>
                    <button type="button" onclick="AgregarHallazgo()" class="btn btn-primary">Agregar Hallazgo</button>
                    <button type="button" onclick="AgregarComentarios()" class="btn btn-primary">Agregar Comentarios</button>
                </div>
            </div>
        </div>


        @if (hallazgos.Count > 0)
        {
            @foreach (var hall in hallazgos)
            {
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <h3 style="width: 87%">@hall.HALLAZGO</h3>
                            <button type="button" onclick="EditarHallazgo('@hall.CODIGO_HALLAZGO')" style="width: 10%; height: 6%;" class="btn btn-primary" id="buttonEditar">Editar</button>
                        </div>
                        <h6>
                            @hall.CONDICION
                        </h6>
                        <br>
                        @if (hall.CALIFICACION == 1)
                        {
                            tipocalificacion = "Cuantitativa";
                        }
                        else
                        {
                            tipocalificacion = "Cualitativa";
                        }
                        <label style="width: 87%"><b style="font-size:16px">Tipo Calificación: </b>@tipocalificacion</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    @if (hall.CALIFICACION == 1)
                                    {
                                        <th>Valor de Muestra</th>
                                        <th>Muestra con Hallazgos</th>
                                        <th>Desviación de Muestra</th>
                                    }else{
                                        <th>Orientación de Calificación</th>
                                    }
                                    <th>Nivel de Riesgo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @if (hall.CALIFICACION == 1)
                                    {
                                        <td>@hall.VALOR_MUESTRA</td>
                                        <td>@hall.MUESTRA_INCONSISTENTE</td>
                                        <td>@hall.DESVIACION_MUESTRA %</td>
                                    }
                                    else
                                    {
                                        <td style="text-align: justify;">
                                            @foreach (var orientacion in hall.OrientacionCalificacion)
                                            {
                                                @orientacion.ORIENTACION

                                                if (orientacion != hall.OrientacionCalificacion.Last())
                                                {
                                                    <br /><br />
                                                }
                                            }
                                        </td>
                                    }

                                    @if (hall.NIVEL_RIESGO == 1)
                                    {
                                        textNivel = "Bajo";
                                        textClassNivel = "bajo";
                                    }
                                    else if (hall.NIVEL_RIESGO == 2)
                                    {
                                        textNivel = "Medio";
                                        textClassNivel = "medio";
                                    }
                                    else if (hall.NIVEL_RIESGO == 3)
                                    {
                                        textNivel = "Alto";
                                        textClassNivel = "alto";
                                    }
                                    <td class="highlight-@textClassNivel">@textNivel</td>
                                </tr>
                            </tbody>
                        </table>

                        <h5 style="font-weight: bold;">
                            Criterio
                        </h5>
                        <h6>
                            @hall.CRITERIO
                        </h6>

                        <h5 style="font-weight: bold;">
                            Causas
                        </h5>
                        @if (hall.Detalles != null)
                        {
                            @foreach (var detalle in hall.Detalles.Where(d => d.TIPO == "causa" || d.TIPO.StartsWith("causa-")))
                            {
                                <h6>
                                    ● @detalle.DESCRIPCION
                                </h6>
                            }
                        }

                        <h5 style="font-weight: bold; margin-top: 10px">
                            Efectos
                        </h5>
                        @if (hall.Detalles != null)
                        {
                            @foreach (var detalle in hall.Detalles.Where(d => d.TIPO == "efecto" || d.TIPO.StartsWith("efecto-")))
                            {
                                <h6>
                                    ● @detalle.DESCRIPCION
                                </h6>
                            }
                        }

                        <h5 style="font-weight: bold; margin-top: 10px">
                            Recomendaciones
                        </h5>
                        @if (hall.Detalles != null)
                        {
                            @foreach (var detalle in hall.Detalles.Where(d => d.TIPO == "recomendaciones" || d.TIPO.StartsWith("recomendaciones-")))
                            {
                                <h6>
                                    ● @detalle.DESCRIPCION
                                </h6>
                            }
                        }

                        <h5 style="font-weight: bold; margin-top: 10px">
                            Comentarios
                        </h5>
                        @if (hall.Detalles != null)
                        {
                            @foreach (var detalle in hall.Detalles.Where(d => d.TIPO == "comentarios" || d.TIPO.StartsWith("comentarios-")))
                            {
                                <h6>
                                    ● @detalle.DESCRIPCION
                                </h6>
                            }
                        }

                        <h5 style="font-weight: bold; margin-top:40px">
                            Documentos Adjuntos
                        </h5>

                        @foreach (var documento in hall.Documentos)
                        {
                            var extensionDocumento = System.IO.Path.GetExtension(documento.NOMBRE_DOCUMENTO);
                            var ico = extensionDocumento?.ToLower() == ".pdf" ? "pdf-ico.png" : (extensionDocumento?.ToLower() == ".jpeg" || extensionDocumento?.ToLower() == ".jpg" || extensionDocumento?.ToLower() == ".png") ? "pic-ico.png" : (extensionDocumento?.ToLower() == ".doc" || extensionDocumento?.ToLower() == ".docx") ? "doc-ico.png" : "excel-ico.png";
                            <div class="pdf-item">
                                <a href="/Archivos/Auditorias/Documentos/@documento.NOMBRE_DOCUMENTO" target="_blank"><img src="/assets/images/@ico" alt="@documento.NOMBRE_DOCUMENTO"></a>
                                <div>
                                    <a href="/Archivos/Auditorias/Documentos/@documento.NOMBRE_DOCUMENTO" target="_blank">@documento.NOMBRE_DOCUMENTO</a>
                                    <p style="margin: 5px 0;">Creado Por: @documento.CREADO_POR</p>
                                    <p style="margin: 5px 0;">Tamaño del PDF: @documento.PESO</p>
                                </div>
                            </div>
                        }

                        @*<div id="pdf-container"></div>*@
                    </div>
                </div>
            }
        }
        else
        {
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <label style="text-align:center;">No se encontrarón hallazgos agregados a esta actividad.</label>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section scripts {
    <script src="~/Scripts/Helpers/Helpers.js"></script>
    <script src="~/Scripts/Auditorias/AuditoriaResultados.js"></script>
}
