@using Newtonsoft.Json;

@{
    var actividadConDetalles = ViewBag.DETALLES_ACTIVIDAD;
    var params_base64 = ViewBag.PARAMS_BASE64;

    ViewBag.Title = "Resultados en Programa de Trabajo";
    ViewBag.pTitle = "RESULTADOS EN PROGRAMA DE TRABAJO";
    ViewBag.pageTitle = "Auditorías";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var valor = "alto";
    string styleCuantitativa = "";
    string styleCualitativa = "display: none;";


    string hallazgoJson = null;
    if (ViewBag.HALLAZGO != null)
    {
        hallazgoJson = JsonConvert.SerializeObject(ViewBag.HALLAZGO, new JsonSerializerSettings
        {
            PreserveReferencesHandling = PreserveReferencesHandling.Objects
        });
    }
}

<link href="~/css/estilo.css" rel="stylesheet" type="text/css" />
<link href="~/css/estiloAuditoriaHallazgo.css" rel="stylesheet" type="text/css" />

<div class="form-container">
    <h3>
        @actividadConDetalles.Nombre_actividad.ToUpper()
    </h3>

    <div class="row">
        <h5>@ViewBag.TITULO_AUDITORIA</h5>
    </div>

    <div class="form-group" style="padding-top: 10px" id="divButtons">
        <button type="button" onclick="history.go(-1)" class="btn btn-primary">Regresar</button>
        <button type="button" id="guardar-btn" class="btn btn-primary">Guardar y Actualizar</button>
    </div>
</div>

<div class="row">

    <div class="col-7">
        <div class="card">
            <div class="card-body">
                @* Aqui estan los parametros encriptados de la url *@
                <input type="hidden" value="@params_base64" id="paramsah_base64" />
                <form>
                    <div class="form-group">
                        <label for="hallazgo">Hallazgo</label>
                        <textarea id="hallazgo" name="hallazgo" rows="3" placeholder="Escribir..."></textarea>
                    </div>

                    <div class="toggle-buttons">
                        <button id="cuantitativa" onclick="MostrarCuantitativo()" class="active">Calificación Cuantitativa</button>
                        <button id="cualitativa" onclick="MostrarCualitativo()">Calificación Cualitativa</button>
                    </div>

                    <div class="row" style="@styleCuantitativa" id="divcuantitativo">
                        <div class="form-group calificacion">
                            <label for="valor_muestra">Valor de Muestra</label>
                            <input type="number" id="valor_muestra" name="valor_muestra" value="0" onchange="calculoMuestra()">
                        </div>
                        <div class="form-group calificacion">
                            <label for="muestra_inconsistente">Hallazgos en la Muestra</label>
                            <input type="number" id="muestra_inconsistente" name="muestra_inconsistente" value="0" onchange="calculoMuestra()">
                        </div>
                        <div class="form-group calificacion">
                            <label for="desviacion_muestra">Desviación de Muestra</label>
                            <input type="text" id="desviacion_muestra" name="desviacion_muestra" value="0%" disabled>
                        </div>
                        <div class="form-group calificacion risk-level">
                            <label for="nivel_riesgo">Nivel de Riesgo</label>
                            <div id="selectedRisk" class="card highlight-bajo">Bajo</div>
                        </div>
                    </div>
                    <div class="row" style="@styleCualitativa" id="divcualitativo">
                        <div class="col-8 d-flex flex-column">
                            <label for="orientacion_calificacion">Orientación para la calificación</label>
                            <textarea id="orientacion_calificacion" style="height: 110px; margin-bottom: 10px;" name="orientacion_calificacion" disabled></textarea>
                        </div>
                        <div class="col-3 d-flex flex-column">
                            <label for="nivel_riesgo">Nivel de Riesgo</label>
                            <div id="selectedRisk2" class="card highlight-bajo" data-risk="bajo">Bajo</div>
                            <div id="riskLevels" class="risk-level-options" style="display: none;">
                                <span class="card" data-risk="bajo" style="width: 100%;">Bajo</span>
                                <span class="card" data-risk="medio" style="width: 100%;">Medio</span>
                                <span class="card" data-risk="alto" style="width: 100%;">Alto</span>
                            </div>
                        </div>
                        <input type="hidden" id="nivel_riesgo" name="nivel_riesgo" value="bajo" />
                    </div>
                    <div class="columns">

                        <div class="column">
                            <div class="form-group">
                                <label for="condicion">Condición</label>
                                <textarea id="condicion" name="condicion" rows="3" placeholder="Escribir..."></textarea>
                            </div>
                            <div class="form-group">
                                <label for="criterio">Criterio</label>
                                <textarea id="criterio" name="criterio" rows="3" placeholder="Escribir..."></textarea>
                            </div>
                            <div class="form-group specific-style">
                                <label for="efecto">Causa</label>
                                <div class="input-button-group">
                                    <div id="input_causa" style="width: 100%;">
                                        <input id="causa" name="causa" placeholder="Escribir..." />
                                    </div>
                                    <button id="btn_causa" class="icon-button" type="button">
                                        <i class="bx bx-list-plus font-size-24"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group specific-style">
                                <label for="efecto">Efecto</label>
                                <div class="input-button-group">
                                    <div id="input_efecto" style="width: 100%;">
                                        <input id="efecto" name="efecto" placeholder="Escribir..." />
                                    </div>
                                    <button id="btn_efecto" class="icon-button" type="button">
                                        <i class="bx bx-list-plus font-size-24"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group specific-style">
                                <label for="efecto">Recomendaciones</label>
                                <div class="input-button-group">
                                    <div id="input_recomendaciones" style="width: 100%;">
                                        <input id="recomendaciones" name="recomendaciones" placeholder="Escribir..." />
                                    </div>
                                    <button id="btn_recomendaciones" class="icon-button" type="button">
                                        <i class="bx bx-list-plus font-size-24"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group specific-style">
                                <label for="efecto">Comentarios</label>
                                <div class="input-button-group">
                                    <div id="input_comentarios" style="width: 100%;">
                                        <input id="comentarios" name="comentarios" placeholder="Escribir..." />
                                    </div>
                                    <button id="btn_comentarios" class="icon-button" type="button">
                                        <i class="bx bx-list-plus font-size-24"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="objetivo_control_interno">Objetivo de Control Interno</label>
                    <select id="objetivo_control_interno">
                        <option>Seleccionar...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="objetivo_estrategico">Objetivo Estratégico</label>
                    <select id="objetivo_estrategico">
                        <option>Seleccionar...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="proceso_asociado">Seleccione el Proceso Asociado</label>
                    <select id="proceso_asociado">
                        <option>Seleccionar...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="responsable_directo">Responsable Directo</label>
                    <select id="responsable_directo">
                        <option>Seleccionar...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="unidad_apoyo">Unidad o Unidades de Apoyo</label>
                    <select id="unidad_apoyo">
                        <option>Seleccionar...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="documentos">Documentos</label>
                    <div class="upload-area" id="uploadArea"
                         ondrop="dropHandler(event);"
                         ondragover="dragOverHandler(event);">
                        <input type="file" id="documentos" style="display:none;" onchange="agregarArchivo()"> <!-- Aquí se llama agregarArchivo directamente -->
                        <i class='bx bx-info-circle font-size-24' style="color: #186040; border: 2px solid #ddd; padding: 5px; border-radius: 20%; margin-bottom: 10px"></i>
                        <p>
                            <span id="uploadText" style="color: #186040;">Click para subir documento</span> o arrastre y suelte el archivo aquí
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Lista de archivos seleccionados -->
                    <div id="listaArchivos" style="margin-top: 15px;">
                        <h5>Archivos agregados:</h5>
                        <ul id="archivosAgregados" class="file-list"></ul>
                    </div>
                </div>

                @if (ViewBag.DOCUMENTOS != null && ViewBag.DOCUMENTOS.Count > 0)
                {
                    @foreach (var documento in ViewBag.DOCUMENTOS)
                    {
                        var extensionDocumento = System.IO.Path.GetExtension(documento.NOMBRE_DOCUMENTO);
                        var ico = extensionDocumento?.ToLower() == ".pdf" ? "pdf-ico.png" : (extensionDocumento?.ToLower() == ".jpeg" || extensionDocumento?.ToLower() == ".jpg" || extensionDocumento?.ToLower() == ".png") ? "pic-ico.png" : (extensionDocumento?.ToLower() == ".doc" || extensionDocumento?.ToLower() == ".docx") ? "doc-ico.png" : "excel-ico.png";
                        <div class="pdf-item" id="documento-@documento.CODIGO_HALLAZGO_DOCUMENTO">
                            <a href="/Archivos/Auditorias/Documentos/@documento.NOMBRE_DOCUMENTO" target="_blank"><img src="/assets/images/@ico" alt="@documento.NOMBRE_DOCUMENTO"></a>
                            <div style="width: 80%;">
                                <a href="/Archivos/Auditorias/Documentos/@documento.NOMBRE_DOCUMENTO" target="_blank">@documento.NOMBRE_DOCUMENTO</a>
                                <p style="margin: 5px 0;">Creado Por: @documento.CREADO_POR</p>
                                <p style="margin: 5px 0;">Tamaño del PDF: @documento.PESO</p>
                            </div>
                            <button onclick="EliminarDocumento('@documento.CODIGO_HALLAZGO_DOCUMENTO')" class="btn btn-danger" style="margin-left: 10px;">
                                <i class="bi bi-trash"></i> X
                            </button>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        var hallazgo = @Html.Raw(hallazgoJson ?? "null");
    </script>
    <script src="~/Scripts/Helpers/Helpers.js"></script>
    <script src="~/Scripts/Auditorias/AuditoriaHallazgo.js"></script>
}

